*{
    margin: 0;
    padding: 0;
  }
  
  ul, ol{
    list-style: none;
  }
  
  a{
    text-decoration: none;
  }
  
  .container{
    width: 1320px;
    margin: 0 auto;
  }
  
  .main{
    display: flex;
  }
  
  .title{
    text-align: center;
}







/* ===============HEADER PART CSS STARTS HERE=============== */
header{
    padding-top: 57px;
}

header h2{
    font-size: 24px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    color:#3A3A3A;
}
/* ===============HEADER PART CSS ENDS HERE=============== */






/* ===============JOURNEY PART CSS STARTS HERE=============== */
#journey-part{
    margin-top:100px;
}

#journey-part .text{
    width: 60%;
    padding-top: 85px;
}

#journey-part .text h1{
    font-size: 52px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    color:#3A3A3A;
}

#journey-part .text p{
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color:#3A3A3A;
    margin-top: 15px;
    
}

#journey-part .text a{
   background: #0984e3;
   color: #fff;
   padding: 10px 25px;
   font-size: 16px;
   font-family: 'Poppins', sans-serif;
   font-weight: 700;
   border-radius: 20px;
   display: inline-block;
   margin-top: 30px;
}

#journey-part .image{
    width: 40%;
    transition: .4s;
}

#journey-part .image img{
    width: 100%;
    transition: .4s;
}

#journey-part .image:hover{
    border-radius: 50%;
    border: 1px solid gray;
    background: #0984e3;
}

#journey-part .image:hover img{
    transform: rotate(360deg);
}
/* ===============JOURNEY PART CSS ENDS HERE=============== */






/* ===============COLLECTION PART CSS STARTS HERE=============== */
article{
    margin-top: 100px;
}

article .title{
    margin-bottom: 50px;
}

article .title h2{
    font-family: 'Poppins', sans-serif;
    font-size: 28px;
    font-weight: 600;
    color: #3A3A3A;
}

article .items{
    display: grid;
    grid-template-columns: 320px 320px 320px;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 30px;
    justify-content: center;
}

article .items .card{
    padding: 10px 10px 15px 10px;
    box-sizing: border-box;
    border-radius: 5px;
    -webkit-box-shadow: 0px -1px 28px 2px rgba(0,0,0,0.35);
    -moz-box-shadow: 0px -1px 28px 2px rgba(0,0,0,0.35);
    box-shadow: 0px -1px 28px 2px rgba(0,0,0,0.35);
} 

article .items .card h3{
    font-family: 'Poppins', sans-serif;
    font-size: 28px;
    font-weight: 500;
    margin-top: 20px;
} 

article .items .card h4{
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-weight: 400;
    margin-top: 10px;
} 

article .items .card .rating{
    display: flex;
    align-items: center;
    margin-top: 10px;
} 

article .items .card .rating i{
    color: #FB8200;
    font-size: 12px;
    padding-right: 2px;
} 

article .items .card .rating p{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    padding-left: 5px;
} 

article .items .card>p{
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-weight: 700;
    color:#787885;
} 

#for-margin{
    margin-top: 10px;
}

article .button{
    text-align: right;
    padding: 40px 150px 0 0;
}

article a{
    color: #0984e3;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 16px;
}
/* ===============COLLECTION PART CSS ENDS HERE=============== */






/* ===============BONUS PART CSS STARTS HERE=============== */
#bonus-part{
    margin-top: 150px;
}

#bonus-part .main{
    justify-content: space-around;
}

#bonus-part .main .item{
    text-align: center;
}

#bonus-part .main .item i{
    font-size: 60px;
    color: #939799;
    margin-bottom: 10px;
}

#bonus-part .main .item h4{
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 10px;
}

#bonus-part .main .item a{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
}

#bonus-part .main .item a:visited{
    color: black;
}

/* ===============BONUS PART CSS ENDS HERE=============== */






/* ===============FOOTER PART CSS STARTS HERE=============== */
footer{
    height: 240px;
    background:#0A0826;
    text-align: center;
    padding: 40px 0;
    box-sizing: border-box;
    margin-top: 150px;
}

footer h2{
    font-size: 24px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    color:#FAFAFA;
    margin-bottom: 10px;
}

footer p{
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color:#FAFAFA;
}

footer .icons i{
    font-size: 24px;
    color:#FAFAFA;
    background: #22203B;
    height: 50px;
    width:50px;
    line-height: 50px;
    border: transparent;
    border-radius: 50%;
    margin-top: 10px;
}
/* ===============FOOTER PART CSS ENDS HERE=============== */






/* ===============RESPONSIVE CSS STARTS HERE=============== */
@media (max-width: 540px) {
   

      
    .container{
        width: 540px;
        margin: 0 auto;
    }
  
    /* body{
        background: cyan;
    } */

    header{
        text-align: center;
    }
    
    #journey-part .main{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

     #journey-part .text{
         display: flex;
         flex-direction: column;
         text-align: center;
         align-items: center;
    }

    #journey-part .image{
        width: 100%;
        text-align: center;
    }

    #journey-part .image img{
        padding-top: 50px;
        width: 70% !important;
    }

    article .title{
        text-align: center;
    }

    article .items{
        grid-template-columns: 320px;
        grid-template-rows: 9fr;
        justify-content: center;
    }

    #bonus-part .main{
        display: flex;
        flex-direction: column;
    }

    #bonus-part .main .item{
        margin-top: 40px;
    }

}

@media (min-width: 541px) and (max-width: 912px){
    /* body{
        background: red;
    } */

    .container{
        width: 912px;
    }

    header{
        text-align: center;
    }
    
    #journey-part .main{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

     #journey-part .text{
         display: flex;
         flex-direction: column;
         text-align: center;
         align-items: center;
    }

    #journey-part .image{
        text-align: center;
        width: 100%;
    }

    #journey-part .image img{
        padding-top: 50px;
        width: 50% !important;
    }

    article .title{
        text-align: center;
    }

    article .items{
        grid-template-columns: 320px 320px;
        grid-template-rows: 5fr;
        justify-content: center;
    }

    #bonus-part .main{
        display: flex;
        flex-direction: column;
    }

    #bonus-part .main .item{
        margin-top: 40px;
    }
}
/* ===============RESPONSIVE CSS ENDS HERE=============== */